<footer class="footer mt-auto py-3 bg-light" >
    <div class="container">
        <div style= "font-size: 20px;">
            <span class="m-0 text-muted mx-4">ALIX Copy Right &copy; </span>
            <a href="https://wa.me/989039736384"><i class="fab fa-whatsapp mx-1"></i></a>
            <a href="https://www.instagram.com/iagep/"><i class="fab fa-instagram mx-1"></i></a>
            <a href="https://www.telegram.me/iagepAli/"><i class="fab fa-telegram mx-1"></i></a>
            <a href="https://github.com/alexagep"><i class="fab fa-github mx-1"></i></a>
        </div>
    </div>
</footer>



